.container{
    width: min(100%, 1440px);
    margin: auto;
    gap: 48px 40px;
    padding: 32px 20px;
    background-color: #2E0230;
   
  }
   
/* header */

.header{
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #200029;
    position: relative;
    display: flex;
}

.logoimg {
    width: 100%;
    height: 40px;
   margin-left: 50px;
}
.logoimg:hover {
    transform: scale(1.1);
  }


.ul1{
    
    width: 367px;
height: 26px;
top: 45px;
left: 494px;
gap: 0px;
opacity: 0px;
display: flex;
margin-right: 100px; 
}


.li1{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #ff00ff;
margin-right: 100px
}
.ul1:hover{
    transform: scale(1.1);
}

.li2{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #FFFFFF;
margin-left: 120px;
}
.li2:hover {
  background-color: #8c0f8e;
}

.middle{
    margin: auto;
}

.box{
    display: flex;
    width: 84px;
height: 42px;
}

.div2{
    display: flex;
   margin-right: 50px;
   position: middle;
  
}

.navlog:hover {
    filter: blur(2px);
}
.p_1{
    display: flex;
    margin-right: 150px;
    position: middle;
    margin-right: 50px;
    color: #FFFFFF;
    width: 84px;
    height: 42px;
   padding: 10px;
   border: #FFFFFF;
  border-bottom: #ff00ff;
  border: 2px solid rgb(176, 50, 165); 
            
}

.imglogo:hover{
    
 transform: scale(1.1);
    
}
/*section*/
.section1{
    height: 784px;
   margin: auto; 
  }
    
  .section1Cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .divSection{
   position: absolute;
   top: 160px;
   left: 260px;
   border-radius: 20px 1px;
    padding: 200px 250px;
  width: 920px;
  height: 784px;
  border-bottom: #ff00ff;
  border: 2px solid rgb(176, 50, 165); 
  background: rgba(0, 0, 0, 0.632);
flex-direction: column;
padding: 48px 200px 48px 200px;
border-radius: 20px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;      

  }
 


.p{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #ffffff;

}

.form {
    padding: 20px;
    border-radius: 50px;
    width: 520px;
    height: 568px;
    top: 168px;
    left: 200px;
    margin-right: 29px;
    justify-content: center;
     align-items: center;
    flex-direction: column;  
   

}

.name1{
    background-color: #e0e0e000;
    border: 2px solid rgb(176, 50, 165); 
}


.h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 4px;
justify-content: center; 
align-items: center;

}

.input[type="text"],
.input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    top: 30px;
    color: #fff;

    margin: auto;}


.input[type="radio"] {
    margin: 10px 0;
  
    }


.label {
    display: block;
    margin: 5px 0;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #ff00ff;
top: 30px;
}



.button {
    width: 100%;
    padding: 10px;
    background: #ff00ff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: 2px solid rgb(176, 50, 165); 

}

.textarea{
    background-color: rgba(110, 20, 126, 0);
 width: 100%;
height: 112px;
top: 34px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 2px solid rgb(176, 50, 165); 

}


.button1 {
    background-color: rgba(119, 32, 148, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(176, 50, 165); 
}

.checkbox{
    color: white;
}

/* ქ-ლ თამუნა რესპონსივის გაკეთება მინდოდა  მაგრამ ერ გავიგე, იმ ლექციას ვნახავ თავიდან რომელშიც რესპონსივს ხსნით.  მადლობა, ამასაც რასაც  ვაწყობ(ვიცი ბევრი შეცდომა მაქვს) ვერ წარმომედგინა,რომ ოდესმე ავაწყობდით <3 */

