@media only screen and (max-width: 1100px) 
{
    .header{
        width: 880px;
height: 116px;
padding: 34px 58px 34px 58px;

    }

    .section1{
        width: 764px;
height: 784px;
top: 64px;
left: 58px;
padding: 48px 122px 48px 122px;
gap: 0px;
border-radius: 20px 0px 0px 0px;

    }

    .divsection{
        width: 520px;
height: 568px;
top: 168px;
left: 122px;

    }

    .h2{
        width: 245px;
height: 40px;
top: 48px;
left: 260px;
gap: 0px;
opacity: 0px;

    }
}
    